- name: Prepare installation of dependencies of samba mount dnf cifs-utils
  ansible.builtin.dnf:
    name: cifs-utils
    state: latest
  become: true
  become_method: sudo

- name: Prepare installation of dependencies of samba mount dnf samba-client
  ansible.builtin.dnf:
    name: samba-client
    state: latest
  become: true
  become_method: sudo

- name: Prepare installation of dependencies of samba mount dnf samba-common
  ansible.builtin.dnf:
    name: samba-common
    state: latest
  become: true
  become_method: sudo

- name: Create directory for credential files
  file:
    path: /mnt/samba-credentials
    state: directory
    mode: '0755'
  become: true
  become_method: sudo

- name: Prepare credential file
  ansible.builtin.shell:
    cmd: |
      [ -e /mnt/samba-credentials/.smbcredentials-photos ] || echo "[Credentials]" > /mnt/samba-credentials/.smbcredentials-photos && echo "username={{smb_photos_username}}" >> /mnt/samba-credentials/.smbcredentials-photos && echo "password={{smb_photos_password}}" >> /mnt/samba-credentials/.smbcredentials-photos
  become: true
  become_method: sudo

- name: Set proper permission on credential file
  file:
    path: /mnt/samba-credentials/.smbcredentials-photos
    mode: '0600'
  become: true
  become_method: sudo

- name: Create mount point directory if not exists
  ansible.builtin.shell:
    cmd: |
      ls -1 /mnt | grep -q samba-photos || mkdir -p /mnt/samba-photos
  become: true
  become_method: sudo

- name: Set permissions on mount point directory
  file:
    path: /mnt/samba-photos
    state: directory
    mode: '0755'
  become: true
  become_method: sudo

- name: Insert to fstab that configuration
  ansible.builtin.shell:
    cmd: |
      cat /etc/fstab | grep -q "smbcredentials-photos" || echo "//{{smb_photos_address}}/data /mnt/samba-photos cifs credentials=/mnt/samba-credentials/.smbcredentials-photos,uid=1000,gid=1000,iocharset=utf8 0 0" >> /etc/fstab
  become: true
  become_method: sudo

- name: Reboot a machine
  ansible.builtin.reboot:
    reboot_timeout: 3600
  become: true
  become_method: sudo

- name: Pause for 10 minutes for startup
  ansible.builtin.pause:
    minutes: 10
