- name: Install the latest version of ollama
  ansible.builtin.shell:
    cmd: |
      which ollama || curl -fsSL https://ollama.com/install.sh | sh
  become: true
  become_method: sudo

- name: Download ollama models
  ansible.builtin.shell:
    cmd: |
      ollama pull "{{ item }}"
  loop:
    - granite3.1-dense:8b
    - granite-embedding:30m
    - llama3.1:8b
    - moondream:latest
    - qwen2.5-coder:1.5b-base
    - qwen2.5-coder:1.5b
    - steamdj/llama3.1-cpu-only:latest
