- name: Prepare installation of dependencies of snort3
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: latest
  become: true
  become_method: sudo
  loop:
  - autoconf
  - automake
  - cmake
  - ethtool
  - flex
  - gcc-c++
  - hyperscan-devel
  - hwloc-devel
  - libdnet-devel
  - libmnl-devel
  - libpcap-devel
  - libunwind-devel
  - libuuid-devel
  - libtool
  - luajit-devel
  - pcre-devel
  - xz-devel
  - zlib-devel

- name: Prepare installation of dependencies of snort3 dnf https://kojipkgs.fedoraproject.org//packages/pcre2/10.47/1.fc43/x86_64/pcre2-devel-10.47-1.fc43.x86_64.rpm
  ansible.builtin.shell:
    cmd: |
      dnf install -y https://kojipkgs.fedoraproject.org//packages/pcre2/10.47/1.fc43/x86_64/pcre2-devel-10.47-1.fc43.x86_64.rpm
  become: true
  become_method: sudo

- name: Prepare installation of dependencies of snort3 libdaq3
  ansible.builtin.shell:
    cmd: |
      [ -e /etc/ld.so.conf.d/libdaq3.conf ] || \
      git clone https://github.com/snort3/libdaq.git && \
      cd libdaq && \
      ./bootstrap && \
      ./configure --prefix=/usr/local/lib/daq_s3 && \
      make install && echo "/usr/local/lib/daq_s3/lib/" > /etc/ld.so.conf.d/libdaq3.conf && \
      ldconfig
  become: true
  become_method: sudo

- name: Prepare installation of snort3
  ansible.builtin.shell:
    cmd: |
      [ -e /path/to/snorty/bin/snort ] || \
      git clone https://github.com/snort3/snort3.git && \
      export my_path=/path/to/snorty && \
      mkdir -p $my_path && \
      cd snort3 && \
      ./configure_cmake.sh --prefix=$my_path --with-daq-includes=/usr/local/lib/daq_s3/include/ --with-daq-libraries=/usr/local/lib/daq_s3/lib/ && \
      cd build && \
      make -j $(nproc) && \
      make install
  become: true
  become_method: sudo
