- name: Prepare installation of dependencies of samba mount
  ansible.builtin.dnf:
    name:
    - cifs-utils
    - samba-client
    - samba-common
    state: latest
  become: true
  become_method: sudo

- name: Create directory for credential files
  file:
    path: /mnt/samba-credentials
    state: directory
    mode: '0755'
  become: true
  become_method: sudo

- name: Prepare credential file
  ansible.builtin.shell:
    cmd: |
      [ -e /mnt/samba-credentials/.smbcredentials-data ] || \
      echo "[Credentials]" > /mnt/samba-credentials/.smbcredentials-data && \
      echo "username={{smb_data_username}}" >> /mnt/samba-credentials/.smbcredentials-data && \
      echo "password={{smb_data_password}}" >> /mnt/samba-credentials/.smbcredentials-data
  become: true
  become_method: sudo

- name: Set proper permission on credential file
  file:
    path: /mnt/samba-credentials/.smbcredentials-data
    mode: '0600'
  become: true
  become_method: sudo

- name: Create mount point directory if not exists
  ansible.builtin.shell:
    cmd: |
      ls -1 /mnt | grep -q samba-data || mkdir -p /mnt/samba-data
  become: true
  become_method: sudo

- name: Set permissions on mount point directory
  file:
    path: /mnt/samba-data
    state: directory
    mode: '0755'
  become: true
  become_method: sudo

- name: Insert to fstab that configuration
  ansible.builtin.shell:
    cmd: |
      cat /etc/fstab | grep -q "smbcredentials-data" || \
      echo "//{{smb_data_address}}/data /mnt/samba-data cifs credentials=/mnt/samba-credentials/.smbcredentials-data,uid=1000,gid=1000,iocharset=utf8 0 0" >> /etc/fstab
  become: true
  become_method: sudo

- name: Reload settings and mount
  ansible.builtin.shell:
    cmd: |
      systemctl daemon-reload && mount -a
  become: true
  become_method: sudo
